.form{
    display: flex;
    margin-top: 25px;
    text-align: center;
    height: auto;
  
}
.input{
    height: 30px;
    width: 100%;
    padding: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}
.button{
    color: white;
    background-color: blue;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}